{%extends 'base.html'%}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    {% block content %}
    {{block.super}}

    <div class="container">
        <h2 class="text-center">Add House </h2>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form layout='inline'%}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    {% endblock %}

</body>

</html>